<div class="wrapper">
    <div class="page10_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/pages/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- tv -->
        <img class="tv" src="assets/images/pages/tv2.png"/>
        <!-- 题目 -->
        <img class="question" src="assets/images/pages/q10.png"/>
        <!-- 点 -->
        <img class="dot dot1" src="assets/images/pages/dot1.png"/>
        <img class="dot dot2" src="assets/images/pages/dot2.png"/>
        <img class="dot dot3" src="assets/images/pages/dot3.png"/>
        <!-- 选项 -->
        <img class="btn-city" src="assets/images/pages/btn-city.png"/>
        <img class="btn-island" src="assets/images/pages/btn-island.png"/>
        <img class="btn-mix" src="assets/images/pages/btn-mix.png"/>
    </div>
</div>