<div class="wrapper">
    <div class="result3_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/result3/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- icons -->
        <img class="icon1" src="assets/images/result3/icon1.png" />
        <img class="icon2" src="assets/images/result3/icon2.png" />
        <img class="icon3" src="assets/images/result3/icon3.png" />
        <img class="icon4" src="assets/images/result3/icon4.png" />
        <img class="title1" src="assets/images/result3/title1.png" />
        <img class="title2" src="assets/images/result3/title2.png" />
        <img class="title3" src="assets/images/result3/title3.png" />
        <img class="title4" src="assets/images/result3/title4.png" />
        <!-- 长按保存 -->
        <img class="save" src="assets/images/result3/save.png" />
        <!-- 攻略 -->
        <img class="btn-guide" src="assets/images/result3/btn-guide.png" />
    </div>
</div>