@import "../base/page";

.page-guide1 {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .guide1_page {
        .bg, .logo {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            width: 100%;
            top: 13.6%;
            left: 0;
        }
        .title {
            width: 100%;
            top: 15.6%;
            left: 0;
        }
        .title1 {
            width: 36%;
            top: 37.3%;
            left: -36%;
        }
        .title2 {
            width: 41.2%;
            top: 49.2%;
            right: -41.2%;
        }
        .title3 {
            width: 41.2%;
            top: 69%;
            left: -41.2%;
        }
        .title4 {
            width: 40%;
            top: 70.2%;
            right: -40%;
        }
        .cloud1 {
            width: 7%;
            top: 22.2%;
            left: 35.2%;
        }
        .cloud2 {
            width: 9.6%;
            top: 33%;
            left: 40.4%;
        }
        .cloud3 {
            width: 10%;
            top: 24.8%;
            left: 65.4%;
        }
        .btn-share {
            width: 39%;
            top: 80%;
            left: 30.5%;
        }
        .modal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, 0.9);
            .modal-content {
                width: 100%;
            }
            .btn-again {
                width: 36%;
                top: 58%;
                left: 32%;
            }
        }
    }
}
