@import "../base/page";

.page-guide2 {
    .base-page;

    background-color: #feccd3;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .guide2_page {
        .bg, .logo {
            width: 100%;
            top: 0;
            left: 0;
        }
        .scenery {
            width: 100%;
            top: 11%;
            left: 0;
        }
        .title {
            width: 100%;
            top: 18.6%;
            left: 0;
        }
        .title1 {
            width: 33%;
            top: 40%;
            left: -33%;
        }
        .title2 {
            width: 41.2%;
            top: 49.4%;
            right: -41.2%;
        }
        .title3 {
            width: 48%;
            top: 68.6%;
            left: -48%;
        }
        .title4 {
            width: 33.4%;
            top: 70%;
            right: -33.4%;
        }
        .cloud1 {
            width: 7%;
            top: 32.2%;
            left: 75.2%;
        }
        .cloud2 {
            width: 9.6%;
            top: 35%;
            left: 70.2%;
        }
        .cloud3 {
            width: 10%;
            top: 24.8%;
            left: 65.4%;
        }
        .btn-share {
            width: 39%;
            top: 80%;
            left: 30.5%;
        }
        .modal {
            display: none;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, 0.9);
            .modal-content {
                width: 100%;
            }
            .btn-again {
                width: 36%;
                top: 58%;
                left: 32%;
            }
        }
    }
}
