@import "../base/page";
.page-result3 {
    .base-page;
    
    background-color: #c4defd;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .result3_page {
        .bg, .logo, .save {
            width: 100%;
            top: 0;
            left: 0;
        }
        .title1 {
            width: 41%;
            top: 37.2%;
            left: -41%;
        }
        .title2 {
            width: 36.4%;
            top: 37%;
            right: -36.4%;
        }
        .title3 {
            width: 42.6%;
            top: 62.4%;
            left: -42.6%;
        }
        .title4 {
            width: 44%;
            top: 61.8%;
            right: -44%;
        }
        .icon1 {
            width: 13%;
            top: 48.6%;
            left: 6.2%;
        }
        .icon2 {
            width: 14%;
            top: 48.7%;
            right: 3.4%;
        }
        .icon3 {
            width: 12.6%;
            top: 69.6%;
            left: 8%;
        }
        .icon4 {
            width: 20.6%;
            top: 69.4%;
            right: 16.4%;
        }
        .rotate10 {
            transform: rotate(10deg);
            transform-origin: center center;
        }
        .rotate15 {
            transform: rotate(15deg);
            transform-origin: center center;
        }
        .rotate-25 {
            transform: rotate(-25deg);
            transform-origin: center center;
        }
        .save {
            opacity: 0;
        }
        .btn-guide {
            width: 34%;
            top: 81.2%;
            left: 33%;
        }
    }
}